@media only screen and (min-width: 576px){   

    .ref-background{
        display: block;
        color: var(--cinza-padrao);
        
        position: absolute;
        bottom: 25px;
        right: 20px;
    }

    .principal{
        background-image: url("../img/flickr-background.jpg");
        background-size: cover;
        background-position: center bottom;
        overflow: scroll;
    }

    header{        
        padding-left: 10vw;
    }

    .container{
        width: 350px;
    }

    main{        
        align-items: flex-end;
    }
    
    footer .container{
        align-items: flex-start;
        padding: 10px 0;
    }

    select, .links a{   
        color: var(--branco);
    }

    .alerta > div{
        height: 30vh;
    
        margin: 35vh 25vw;
        padding: 20px 15px;
    }

    .botoes-alerta{
        justify-content: end
    }

    .botoes-alerta button{ 
        width: 28%;
    }

    .botoes-alerta button:first-child{
        margin-right: 10px;
    }
    
    .botoes-alerta button:last-child{
        margin-left: 10px;
    }
}